<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCTB calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
    <div id="container">

    <div id="menu">
        <h1>HEALTH CALCULATORS</h1>
        <a href="/bmi">BMI, Body Mass Index</a><br>
		<a href="/bmr">BMR, Basal Metabolic Rate</a><br>
		<a href="/tdee">TDEE, Total Daily Energy Expenditure</a><br>
        <a href="/to_burn">CTB, Calories To Burn</a><br>
		<br>
    </div>

    <div id="content">
        {% if result %}
            <h2>CTB:</h2>
            <p>{{ result }}</p>
        {% endif %}
    <h1>CTB Calculator</h1>
    <form method="POST" action="/calculate_ctb">
        <label for="to_burn">Calories to burn:</label>
        <input type="number" id="to_burn" name="to_burn" required><br><br>

        <label for="weight">Weight (kg):</label>
        <input type="number" id="weight" name="weight" required><br><br>

        

        <br>

        <input type="submit" value="Calculate CCTB">
    </form>
    <div id="image">
        <img src="{{ url_for('static', filename='images/Physics-of-sports-image.jpg') }}" alt="A sporty photo">
    </div>  
</div>
</div>
</body>
</html>
